body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    margin-left: 20px;
    margin-top: 80px; 
    color: #02416D;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}

h3 {
    color: #02416D;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #D9FC77;
    padding: 10px 20px;
    display: flex;
    align-items: center; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.header-logo {
    height: 40px; 
    margin-right: auto;
}

.header-button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    color: #333; 
    text-decoration: none; 
}

.header-button .icon {
    height: 24px; 
    width: 24px; 
    margin-bottom: 4px; 
}

.header-button span {
    font-size: 14px;
    margin-left: 5px;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.image-description-container {
    background-color: #F8F8EC; 
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    display: flex; 
    gap: 12px;
    align-items: center;
}

.item-image {
    display: flex;
    gap: 16px;
    justify-content: left; 
    align-items: center; 
    width: auto;
    height: auto;
    align-items: center;
    max-height: 400px;
}

.btn-request {
    width: 60%;
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-color: #D9FC77;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    align-self: center;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: -50px;
    font-size: 18px;
}

.details dd {
    margin-left: 20px;
    margin-bottom: 10px;
}

.reviews {
    margin-top: 40px;
}

#reviews_header{
    display: flex;
    justify-content: space-between;
}

.reviews h3 {
    margin-bottom: 20px;
}

.review-box {
    border: 0.5px solid rgba(6, 102, 153, 0.5);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgba(249, 249, 249,0.2);
}

.review-box p {
    margin: 0;
    margin-top: 10px;
    color: #02416D;
    font-family: 'Montserrat', sans-serif;  
}

.review-box strong{
    color: #02416D;
    font-family: 'Montserrat', sans-serif;
}

.general-score {
    font-weight: bold;
    font-size: 24px;
    text-align: bottom;
    font-family: 'Montserrat', sans-serif;
    color: #02416D;
    margin-top: 20px;
}

.btn-evaluate {
    width:150px;
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-color: #D9FC77;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    align-self: center;
}

input[type="submit"]:hover {
    background-color: #bbd86b;
}

form {
    display: flex;
    justify-content: center;
}
