body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #D9FC77;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.header-logo {
    height: 40px; 
    margin-right: auto;
}

.header-button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    color: #333; 
    text-decoration: none; 
}

.header-button .icon {
    height: 24px; 
    width: 24px; 
    margin-bottom: 4px; 
}

.header-button span {
    font-size: 14px;
    margin-left: 5px;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.results-title {
    margin-left: 50px;
    margin-top: 100px; 
    font-size: 40px;
    color: #02416D;
    font-weight: 600;
}

.form-container {
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;
}

label {
    font-size: 14px;
    color: #333;
    margin-right: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
    accent-color: #D9FC77;
}

input[type="submit"] {
    background-color: #D9FC77;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #bbd86b;
}

input[type="hidden"] {
    display: none;
}

.filter-container form{
    margin-left: 50px;
}

.filter-container select{
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -10px;
    border-radius: 10px;
    background-color: #F8F8EC;
    padding: 10px;
    border: none;
}
.filter-container select:focus{
    outline: none;
}


.results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 20px;
    margin-top: 20px; 
}

.results img {
    width: 100%;
    height: 300px; 
    object-fit: cover;
    margin-bottom: 15px;
}
.photo-card a span{
    color: black;
    font-weight: 800;
    font-size: 15px;
    text-align: center;
}
.photo-card a{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-decoration: none;
}
.photo-card{
    border: 1px solid #333;
    padding: 30px;
    border-radius: 10px;
}