{% from '_top_bar.html' import render_header %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alugaqui</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search-product/index.css') }}">
</head>
<body>
    {{ render_header() }}
    
    <div class="container">
        <h2>EmprestaAqui</h2>
        {% if error != "" %}
            {{ error }}
        {% endif %}
        <!-- Formulário -->
        <div class="form-container">
            <form method="post" action="/results">
                <div class="form-group search-bar">
                    <label for="search"></label>
                    <input type="search" id="search" name="search" required>
                </div>
                <div class="form-group">
                    <label for="city"></label> 
                    {{ location.filter }}
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" id="submit" class="search-button" value="Buscar"/> 
                </div>
            </form>
        </div>
    </div>
</body>
</html>
