{% from '_top_bar.html' import render_header %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alugaqui</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search-product/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    {{ render_header() }}
    
    <div class="container">
        <div class="img-container">
            <img src="{{url_for('static', filename='Logo.png')}}" alt="Alugaqui Logo">
        </div>
        <div class="title">Alugaqui</div>
        {% if error != "" %}
            {{ error }}
        {% endif %}
        <!-- Formulário -->
        <div class="form-container">
            <form method="post" action="/results">
                <div class="form-group search-bar">
                    <label for="search"></label>
                    <input type="search" id="search" name="search" placeholder="Procurar" required>
                </div>
                <div class="form-group">
                    <label for="city"></label> 
                    {{ location.filter }}
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" id="submit" class="search-button" value="Buscar"/> 
                </div>
            </form>
        </div>
    </div>
</body>
</html>
