body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Certifica-se de que o header fique acima de outros elementos */
}

.header button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.container {
    background-color: #e0e0e0;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}
.container h1 {
    margin-bottom: 20px;
    font-size: 24px;
}
.container input[type="text"],
.container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #00bfa5;
    color: white;
    cursor: pointer;
    font-size: 18px;
}
.container input[type="submit"]:hover {
    background-color: #008f7a;
}