{% macro render_header() -%}
<header class="header">
    <form method="post" action="/menu">
        <button type="submit" class="header-button">
            <img src="{{ url_for('serve_photos', filename='logo.png') }}" alt="Logo" class="header-logo">
        </button>
    </form>
    <div class="header-right">
        <form method="post" action="/user">
            <button type="submit" class="header-button">
                <img src="{{ url_for('static', filename='images/user.png') }}" alt="Conta" class="icon">
                <span>Conta</span>
            </button>
        </form>
        <form method="post" action="/change_location">
            <button type="submit" class="header-button">
                <img src="{{ url_for('static', filename='images/location.png') }}" alt="Localização" class="icon">
                <span>Local</span>
            </button>
        </form>
        <form method="post" action="/login">
            <button type="submit" class="header-button">
                <img src="{{ url_for('static', filename='images/logout.png') }}" alt="Logout" class="icon">
                <span>Logout</span>
            </button>
        </form>

        <form action="">
            <button class="header-button"></button>
        </form>

    </div>
</header>



{%- endmacro %}