<!DOCTYPE html> 
<html> 
    <head> 
        <title>Avaliação</title> 
    </head> 
    <h2>Avaliação</h2>
    <body> 
        <form method="post" action="/apply_comment"> 
            <select name="score" id="score">
                {% for score in range(5)%}
                <option value="{{score+1}}">{{score+1}}</option>
                {% endfor %}
              </select>
            <input type="text" name="comment" id="comment"/>  
            <br/> 
            <br>
            <input type="hidden" name="id" value={{instance_id}}>
            <input type="hidden" name="type" value={{instance_type}}>
            <input type="submit" name="submit" id="submit" value="Avaliar">  
        </form> 
    </body> 
</html>