<doctype html>
<head>
    <title>EmprestaAqui</title>
</head>

<h2>EmprestaAqui</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
{% for message in messages %}
    <li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
<dd><a href="./usuario">{{nome}}</a></dd>
<li><a href="./publicar_item">Publicar item</a></li>
<li><a href="./pedidos_recebidos_abertos">Pedidos recebidos</a></li>
<li><a href="./pedidos_feitos_abertos">Pedidos feitos</a></li>
{% from "_formhelper.html" import render_field %}
<form method=post>
    <dl>
    {{ render_field(form.filtro) }}
    <p>
    {{ render_field(form.pesquisa) }}
    </dl>
    <p><input type=submit value=buscar>
</form>