<doctype html>
<head>
    <title>EmprestaAqui</title>
</head>

<h2>EmprestaAqui</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
{% for message in messages %}
    <li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
<dd><a href="./user">{{name}}</a></dd>
<li><a href="./publish_item">Publicar item</a></li>
<li><a href="./open_received_requests">Pedidos recebidos</a></li>
<li><a href="./open_requests">Pedidos feitos</a></li>
{% from "_formhelper.html" import render_field %}
<form method=post>
    <dl>
    {{ render_field(form.filter) }}
    <p>
    {{ render_field(form.search) }}
    </dl>
    <p><input type=submit value=Buscar>
</form>