<!DOCTYPE html> 
<html> 
    <head> 
        <title>Item</title> 
    </head> 
    <body>
        <form method="post" action="/change_location">
            <input type="submit" name="change_location" id="change_location" value="📍"/>
          </form>
          <form method="post" action="/user">
              <input type="submit" name="user" id="user" value="👤"/>
          </form>
          <form method="post" action="/login">
              <input type="submit" name="exit" id="exit" value="🔚"/>
        </form>

        <h2>Item</h2>
        <img src="{{item.photo}}" height="200" width="200">
        <form method="post" action="/item_request"> 
            <input type="submit" name="item_request" id="item_request" value="Pedir Emprestado"/>
            <input type="hidden" name="id" value={{item.id}} />
        </form> 
        <!-- <dd>id: {{item.id}}</dd> -->
        <dd>Nome: {{item.name}}</dd>
        <dd>Descrição: {{item.desc}}</dd>
        <dd>Disponibilidade: {{item.available}}</dd>
        <dd>Quem está emprestando: <a href="{{url_for('user',id=item.owner_id)}}">{{owner.name}}</a></dd>
        <br>
        <br>
        Avaliacoes: NOTA GERAL: {{item.general_score}}
        <br>
        <br>
        {% for commenter in comments.keys() %}
            <li>{{commenter}}: - NOTA {{comments[commenter].score}}</li>
            <p style="text-indent:30px;">
                {{comments[commenter].comment}}
            </p>
        {% endfor %}
    </body> 
</html>