<doctype html>
    <title>pedidos feitos abertos</title>
    <h1>pedidos recebidos</h1>
    <ul>
    {% for request in requests.values() %}
      <li>
        {{request.interested}} quer:
        <a href="./{{url_for('item',id=request.item)}}" >{{ itens[request.item].name|e }} </a>
        {% if request.state is equalto 'accepted' %} 
            entre em phone:{{request.interested_contact}}
        {% endif %}
        {% if request.state is equalto 'open' %} 
            <form method="post" action="/accept"> 
                <input type="submit" name="accept" id="accept" value="accept"/>
                <input type="hidden" name="id" value={{request.item}} />
                <input type="hidden" name="interested" value="{{request.interested}}"/>
            </form> 
        {% endif %}
      </li>
    {% endfor %}
    </ul>
    