<doctype html>
    <title>Pedidos feitos abertos</title>
    <h1>Pedidos feitos</h1>
    <ul>
    {% for request in requests.values() %}
      <li>
        {% if request.state is equalto 'accepted' %} 
            request accepted de
        {% endif %}
        <a href="./{{url_for('item',id=request.item_id)}}" >{{ itens[request.item_id].name|e }}</a>
        {% if request.state is equalto 'accepted' %} 
            Entre em phone:{{users[request.supplier].phone}}
        {% endif %}
      </li>
      <!-- <form method="post" action="/cancelar"> 
        <input type="submit" name="requisition" id="requisition" value="requisition"/>
        <input type="hidden" name="id" value={{request.item}} />
      </form>  -->
    {% endfor %}
    </ul>
    