{% from '_top_bar.html' import render_header%}
<!DOCTYPE html> 
<html> 
<head> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='payment.css') }}">
    <title>Perfil de Usuário</title> 
</head> 
<body> 
    {{ render_header() }}

    <div class="container">
        <h2>obrigado por pagar</h2>
        <form method="post" action="/open_requests">
            <input type="submit" name="minhasSolicitacoes" id="minhasSolicitacoes" value="Ir para meus pedidos"/>
    </div>
</body> 
</html>
