{% from '_top_bar.html' import render_header%}
<!DOCTYPE html> 
<html> 
<head> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='payment_qrcode.css') }}">
    <title>Pagamento por QR code</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head> 
<body> 
    {{ render_header() }}

    <div class="container">
        <h2>Pix</h2>
        <span><i>Utilize o leitor de QR-code do seu celular, para continuar com seu pagamento</i></span>
        <img src="{{url_for('paymentqr',item_id=item_id,user_id=user_id,
        seller_id=seller_id)}}" alt="pix">
    </div>
</body> 
</html>
