<!DOCTYPE html> 
<html> 
    <head> 
        <title>Login</title> 
    </head> 
    <body> 
        <form method="post" action="/evaluate_publication"> 
            <label for="name">nome</label> 
            <input type="text" name="name" id="name"/>  
            <br/> 
            <br> 
            <label for="desc">desc</label> 
            <input type="text" name="desc" id="desc"/>  
            <br/> 
            <br> 
            <label for="photo">foto</label> 
            <input type="text" name="photo" id="photo"/>  
            <br/> 
            <br> 
            <input type="submit" name="submit" id="login" value="Publicar"/>  
        </form> 
    </body> 
</html>