<!DOCTYPE html> 
<html> 
    <head> 
        <title>Login</title> 
    </head> 
    <body> 
        <form method="post" action="/avaliar_pubicacao"> 
            <label for="nome">nome</label> 
            <input type="text" name="nome" id="nome"/>  
            <br/> 
            <br> 
            <label for="descricao">descricao</label> 
            <input type="text" name="descricao" id="descricao"/>  
            <br/> 
            <br> 
            <label for="foto">foto</label> 
            <input type="text" name="foto" id="foto"/>  
            <br/> 
            <br> 
            <input type="submit" name="submit" id="login" value="publicar"/>  
        </form> 
    </body> 
</html>