<!DOCTYPE html> 
<html> 
    <head> 
        <title>usuario</title> 
    </head> 
    <body> 
        <dd>nome: {{user.name}}</dd>
        <dd>cidade: {{user.city}}</dd>
        <form method="post" action="/open_requests">
            <input type="submit" name="minhasSolicitacoes" id="minhasSolicitacoes" value="Minhas solicitações"/>
        </form>
        <form method="post" action="/open_received_requests">
            <input type="submit" name="solicitacoesRecebidas" id="solicitacoesRecebidas" value="Solicitações recebidas"/>
        </form>
        <form method="post" action="/publish_item">
            <input type="submit" name="cadastrarNovosItens" id="cadastrarNovosItens" value="Cadastrar novos itens"/>
        </form>
        {% for item in user.itens.values() %}
            <li><a href="./{{url_for('item',id=item.id)}}" >{{ item.name|e }}</a></li>
        {% endfor %}
        <br>
        <br>
        Comentarios:
        <br>
        <br>
        {% for commentator in user.received_comments.keys() %}
            <li>{{commentator}}</li>
            <p style="text-indent:30px;">
                {{user.received_comments[commentator].comment}}
            </p>
        {% endfor %}
    </body> 
</html>