{% from '_top_bar.html' import render_header%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EmprestaAqui - Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login-form/login.css') }}">
</head>
<body>
    {{ render_header() }}
    <div class="container">
        <h1>EmprestaAqui</h1>
        <form method="post" action="/login_confirmation">
            <input type="text" name="email" placeholder="Email" id="email" required>
            <input type="password" name="password" placeholder="Senha" id="password" required>
            <input type="submit" value="Login">
        </form>
        <form method="post" action="/register">
            <input type="submit" value="Cadastrar">
        </form>
    </div>
</body>
</html>
