{% from '_top_bar.html' import render_header %}
<!DOCTYPE html> 
<html> 
<head> 
    <title>Cadastrar Item</title> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='item/edit_item.css') }}">
</head> 
<body>
    {{ render_header() }}

    <div class="form-container">
        <h1>Cadastrar Item</h1>
        <form method="post" action="/evaluate_edition" enctype="multipart/form-data"> 
            <div class="availability-container">
                <label for="available">Disponibilidade</label>
                <label class="switch">
                    <input type="checkbox" name="available" id="available" checked="{{item.available}}">
                    <span class="slider"></span>
                </label>
            </div>
            <input type="text" name="name" id="name" placeholder="Nome" value="{{item.name}}" required/>  
            <input type="text" name="desc" id="desc" placeholder="Descrição" value="{{item.desc}}" required/>
            <input type="hidden" name="id" value="{{item.id}}">
            <input type="file" name="photo">
            <input type="submit" name="submit" id="submit" value="Atualizar"/>  
        </form> 
        <form method="post" action="/remove_item"> 
            <input type="submit" name="remove_item" id="remove_item" value="Remover item" class="btn-request"/>
            <input type="hidden" name="id" value="{{item.id}}" />
        </form>
    </div>
</body> 
</html>
