{% from '_top_bar.html' import render_header%}
<!DOCTYPE html>
<html>
<head>
    <title>Pedidos Feitos Abertos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user/open_requests.css') }}">
</head>
<body>
    {{ render_header() }}

    <div class="container">
        <h1>Aguardando Aprovação</h1>
        <ul>
            {% for request in requests.values() %}
                {% if request.state == 'open' %}
                <li>
                    <a href="{{url_for('item',id=request.item_id)}}">
                        <img src="/image?id={{itens[request.item_id].photo}}" alt="{{itens[request.item_id].name}}">
                    </a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>

        <h1>Aprovados</h1>
        <ul>
            {% for request in requests.values() %}
                {% if request.state == 'accepted' %}
                <li>
                    <a href="{{url_for('item',id=request.item_id)}}">
                        <img src="/image?id={{itens[request.item_id].photo}}" alt="{{itens[request.item_id].name}}">
                    </a>
                    <br>
                    Entre em contato por:
                    <details>
                        <summary>Contactar</summary>
                        <li> Telefone: {{users[request.supplier_id].phone}}</li>
                        <li> Email: {{users[request.supplier_id].email}}</li>
                    </details>
                    <!-- <button class="contact-button">Contactar</button> -->
                </li>
                {% endif %}
            {% endfor %}
        </ul>

        <h1>Rejeitados</h1>
        <ul>
            {% for request in requests.values() %}
                {% if request.state == 'rejected' %}
                <li>
                    <a href="{{url_for('item',id=request.item_id)}}">
                        <img src="/image?id={{itens[request.item_id].photo}}" alt="{{itens[request.item_id].name}}">
                    </a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</body>
</html>
